/* ----------------------------------------------------------------
	tabelka dane 
-----------------------------------------------------------------*/

.foto-thumbnail {
	width: 70px;
    height: 70px;
    overflow: hidden;
	margin: 10px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

.foto-thumbnail img{
	min-width: 70px;
	min-height: 70px;
	width: 70px;
	
}

/* ----------------------------------------------------------------
	Moje konto Menu sticky
-----------------------------------------------------------------*/
#mk-menu-left li {
	padding: 17px 30px;
	font-size: 16px;
	font-family: 'Muli-SemiBold';
	color: #red!important;
	background-color: #fff;
	box-shadow: 0 6px 38px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	border: 1px solid #e6e8eb;
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
}

#mk-menu-left li:hover, .mk-menu-left-active {
    background-color: #00a0e3!important;
	border: 1px solid #00a0e3!important;
	color:#fff!important;
	transition: ease-in;
	transition-duration: 300ms;
}

#mk-menu-left a {
    color: #0B1D3B!important;
    text-decoration:none;
}

#mk-menu-left a:hover, #mk-menu-left li:hover a  {
    color: #fff!important;
}
/* ----------------------------------------------------------------
	Moje konto 
-----------------------------------------------------------------*/
.moje-konto-content {
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 6px 38px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	border: 1px solid #e6e8eb;

}

.moje-konto-content label {
    font-size: 12px !important;
    color: #748494 !important;
    margin-bottom: 7px !important;
    margin-top: 10px;
    display: block;
    line-height: 1.4;
	padding-top: 3px;
}
	
.moje-konto-content h2 {
	font-size: 21px;
	margin-bottom: 0px!important;
	font-family: 'Muli-SemiBold';
}

.moje-konto-content h5 {
	font-size: 13px;
	margin-bottom: 30px;
	color: #00A0E3;
	font-family: 'Muli-Regular';
}

.moje-konto-content h6 {
	font-size: 12px !important;
	color: #00A0E3 !important;
	margin-bottom: 5px !important;
	margin-top: 10px;
	display: block;
	line-height: 1.4;
	font-family: 'Muli-Regular';
}

.moje-konto-content p {
	font-size: 15px;
	font-family: "Muli-Regular", sans-serif;
	color: #0B1D3B;
}

/* ----------------------------------------------------------------
	kroki-small
-----------------------------------------------------------------*/
.foto-steps-small-container{
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;	
}

.form-group input::-webkit-outer-spin-button,
.form-group input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form-group input[type=number] {
	-moz-appearance: textfield;
}

.foto-steps-small {
	width: 70px;
	height: 70px;
	background-color: #F8F9FA;
	border-radius: 35px;
	font-size: 20px;
	color: #A5A3B0;
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
	font-family: "Muli-Bold", sans-serif;
}

.foto-steps-small-h {
	background-color: #00A0E3;
	color: #fff;
}	

.foto-steps-small-l:after {
    content: "";
    position: absolute;
    top: 2.4rem;
    left: 50%;
    right: -50%;
    z-index: -1;
	border: 1px dashed #e6e8eb;
}

/* ----------------------------------------------------------------
	Logowanie Rejestracja
-----------------------------------------------------------------*/
.form-group {
	margin-bottom: 0rem!important;
	margin-bottom: 10px!important;
}

.custom-control-label::before {
    left: -1.5rem; 
}

.custom-control-label {
    cursor: pointer; 
}

.foto-log{
	padding-left: 30px;
	padding-right: 30px;
	background-color: #fff;
	box-shadow: 0 6px 38px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	border: 1px solid #e6e8eb;
	
}
.foto-log h1 {
	margin-top: 50px!important;
	margin-bottom: -35px!important;
	color: #00A0E3;
	font-size: 30px;
	font-family: 'Muli-SemiBold';
}
.foto-log h2 {
	margin-top: 40px!important;
	margin-bottom: 30px!important;
}

.foto-log input {
	
}

.foto-log img {
	display: inline-block;
}


.foto-log p {
	font-size: 13px!important;
	color: #748494!important;
}

.foto-log label {
	font-size: 12px!important;
	color: #748494!important;
	margin-bottom: 7px!important;
	margin-top: 10px;
	display: block;
	line-height: 1.4;
	padding-top: 3px;
}

.foto-log-social{
	padding: 10px 15px!important;
}


.foto-log-text-cta {
	background-color: Transparent;
	border: none;
	overflow: hidden;
    outline:none;
	font-size: 14px;
	text-decoration: underline;
	color: #00a0e3;
}

.foto-log-text-cta:hover, .foto-log-text-cta:focus, .foto-log-text-cta:active  {
	background-color: Transparent;
	border: none;
	outline: none;
	color: #0056b3;	
}

.foto-log-flex {
	display: flex;
	align-items: center;
}

/* ----------------------------------------------------------------
	footer
-----------------------------------------------------------------*/
.copyright-foto {
	background-color: #0f141c;
	font-size: 11px;
	color: #6f6f6f;
	font-family: 'Muli-Regular';
	letter-spacing: 3px;
	padding: 15px;
}

.footer-foto {
	font-family: 'Muli-Regular'!important;
	color: #fff;
	line-height: 2em!important;
}

.footer-foto p{
	font-size: 13px;
	color: #fff!important;
	margin-top: 20px;
}

.widget-title:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  background-color: #00a0e3;
  width: 10px;
  height: 1px;
  display: block;
  z-index: 1000;
}

.footer-foto li {
	line-height: 2em!important;
	color: #fff!important;
	font-family: 'Muli-Regular'!important;
}

.footer-foto img{
	margin-top: 15px;
}

/* ----------------------------------------------------------------
	modal
-----------------------------------------------------------------*/
.modalfofo {
	padding-left: 30px!important;
	padding-right: 30px!important;
}

.btn-modal-foto {
	padding: 13px 25px!important;
	font-size: 15px!important;
}

.modalfofo label {
	margin-bottom: 0px;
}

/* ----------------------------------------------------------------
	allerty
-----------------------------------------------------------------*/

.alert-foto-yellow a {
	color: #5b4413;
	text-decoration: underline;
}

.alert-foto-yellow a:hover {
	color: #826d41!important;
	text-decoration: underline!important;
}

/* ----------------------------------------------------------------
	flexbox 50-50
-----------------------------------------------------------------*/
.flexbox {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}
.call-to-action-foto {
 	background-color: #F7F7F7;
 	padding: 13px 18px;
 	color: #748494;
 	border: 1px solid #D4D4D4;
 	border-radius: 5px;
 	margin-top: 10px;
}

 /* wyjątek do popupów */
 .modal {
	 background-color: rgba(11, 29, 59, 0.4)!important;
 }

 /* ----------------------------------------------------------------
	Zamówienie Sticky
-----------------------------------------------------------------*/
.siticky-foto {
	margin-top: 12px;
	padding: 1px 1px 16px 1px;
	background-color: #fff;
    box-shadow: 0 6px 38px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	border: 1px solid #e6e8eb;	
}

.siticky-foto p {
	font-size: 13px!important;
	margin-bottom: 5px!important;
	color: #707070!important;
	line-height: 1.4;
	font-family: "Muli-Regular", sans-serif!important;
	font-weight: 400;
}

.siticky-foto span {
	font-size: 13px!important;
	color: #00A0E3;
	font-family: "Muli-Regular", sans-serif!important;	
}

.siticky-foto h3 {
	display: block;
	background-color: #00a0e3;
	font-size: 16px!important;
	border-radius: 5px;
	padding: 12px 15px;
	color: #fff;
	margin-bottom: 0px!important;
}

.siticky-foto h4 {
	font-size: 16px;
	font-family: 'Muli-SemiBold';
	background-color: #00a0e3;
	border-radius: 4px;
	color: white;
	padding: 12px 15px;
}

.siticky-foto h5 {
	font-size: 15px!important;
	color: #0b1d3b!important;
	margin-bottom: 3px!important;
	line-height: 1.2;	
}

.siticky-foto img {
	min-width: 70px;
    min-height: 70px;
    width: 70px;
}

.td-foto{
	font-size: 19px;
	font-family: "Muli-Bold", sans-serif;
}

.siticky-foto-content {
	padding: 0px 15px;
	 
	
}

.siticky-foto-thumbnail {
	width: 70px;
	height: 70px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	margin-right: 15px;
}
	
.Btn-sticky-foto-xs {
	font-size: 10px!important;
	padding: 5px 10px!important;
	font-family: "Muli-Regular", sans-serif!important;
	margin-bottom: 0px!important;
}

.Btn-sticky-foto-outline {
	stroke: #00a0e3 1px solid!important;
	background: #fff!important;
	color: #00a0e3!important;
}

.Btn-sticky-foto-outline:hover{
	stroke: #00a0e3 1px solid!important;
	background: #00a0e3!important;
	color: #fff!important;
}
.sticky-30-30 {
	width: 30%;
	float: left;
	display: block;
}
.sticky-70 {
	width: 70%!important;
}

.sticky-foto-flex, .sticky-foto-flex-suma {
	display: flex;
	padding: 0px 0px;	 
}

.sticky-foto-flex-right{
	margin-left: auto!important;
}
.sticky-foto-flex p{
	width: 70%;
	font-size: 13px!important;
	color: #748494;

}
.sticky-foto-flex span{
	width: 30%;
	text-align: right;
	color: #0B1D3B;
}

.sticky-foto-flex-suma span{
	width: 40%;
	text-align: right;
	font-size: 15px!important;
	font-family: "Muli-Bold"!important;
}

.sticky-foto-flex-suma p{
	width: 60%;
	font-size: 15px!important;
	text-align: right;
	color: #0B1D3B!important;
}

.sticky-foto-flex-suma span, .sticky-foto-flex span, .sticky-foto-flex p, .sticky-foto-flex-suma p{
	padding: 0px!important;
	margin: 0px!important;
	line-height: 1.4!important;
	padding: 3px 0px!important;	 
}

.sticky-foto-btn-main {
	width: 100%;
	margin-top: 15px;
}


 /* ----------------------------------------------------------------
	Stylowanie formularza zamowienia
-----------------------------------------------------------------*/
.pcb-50-50 {
	padding: 0px;
}
.pcb-foto {
	background-color: #fff;
    box-shadow: 0 6px 38px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 1px solid #e6e8eb;
    width: 50%;
    margin: 0 15px;
}

.textarea-foto{
	min-height: 110px;
}
.imput-row {
 	width: 18%!important;
 	float: left;
 	overflow: hidden;
 	margin-right: 2%;
 }

.imput-row img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.img-input {
 	display: block;
 	margin: auto;
 	margin-bottom: 10px;
 }

.select-foto{
	margin-top: 10px;
	color: #00A0E3!important;
	font-family: 'Muli-Regular'!important;	
}

.label-foto {
	margin-left: 25px;
	line-height: 1.3;
}

.label-foto:hover, .label-foto-2:hover span, .label-foto-3:hover span, .icon-box-foto-6b:hover h4, .icon-box-foto-6:hover h4  {
	color: #00a0e3;
}

.label-foto p {
	font-size: 12px!important;
	color: #748494!important;
}

.label-foto-2 {
	line-height: 1.3;
	display: inline-block;
}

.label-foto-2 span, .label-foto-3 span{
	padding-top: 5px;
	display: inline-block;
}

.label-foto-3 {
	line-height: 1.3;	
}

.label-foto-3 img {
	
}
.input-foto {
	margin-left: 0px!important;
	cursor: pointer;
}

.input-foto-2 {
	margin-left: -0.5em!important;
	padding-top: 20px;
}

.input-foto, .label-foto, .label-foto-2, .label-foto-3 {
	cursor: pointer;
}

/* ----------------------------------------------------------------
	steps-styl
-----------------------------------------------------------------*/
.row-foto-zamowienie{
    padding: 8px!important;
}

.steps-styl {
	font-size: 15px;
	cursor: auto;
	margin-bottom: -10px;
	padding: 30px 30px;
	
}

.steps-styl h2{
	font-size: 21px;
	margin-bottom: 0px;	
	font-family: 'Muli-SemiBold';

}
.steps-styl h3{
	font-size: 21px;
	margin-bottom: 20px;	
	font-family: 'Muli-SemiBold';

}

.steps-styl h5 {
	font-size: 13px;
	margin-bottom: 10px;
	color: #00A0E3;	
	font-family: 'Muli-Regular';	
}
.steps-styl p {
	font-size: 15px;
	font-family: 'Muli-Regular';
	color: #0B1D3B;
	margin-bottom: 0.2rem;
}

.steps-styl-cta {
	position: absolute!important;
	bottom: 30px;
	position: absolute;
	
}
.input-style-section {
	padding-top: 0px;
}


/* ----------------------------------------------------------------
	HR
-----------------------------------------------------------------*/
hr.foto{
	border: 1px solid #e6e8eb;
	margin-top: 30px;
	margin-bottom: 20px;

}

hr.foto-small{
	border: 1px solid #e6e8eb;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
	
}

hr.foto-small-x{
	border: 1px solid #e6e8eb;
	margin-top: 10px;
	margin-bottom: 10px;

	
}


/* ----------------------------------------------------------------
	Steps 
-----------------------------------------------------------------*/
.steps-font h5{
	font-size: 21px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.steps-font p{
	font-size: 16px;
	margin-bottom: 0px;
	margin-top: -5px;
	color: #00A0E3;
}
.steps-foto {
	width: 82px;
	height: 82px;
	margin: auto;
	border: 2px dotted #00A0E3;
  	border-radius: 80px;
	transition: 0.4s;	
	display: flex;
	align-items: center;
    justify-content: center;
  	flex-direction: column;
}

.steps-foto:hover{
	border: 4px solid #087DAE;
	cursor: pointer;
	background-color: #00a0e3;
	box-shadow: 0 6px 38px rgba(0, 0, 0, 0.1);
}
.steps-foto-h  {
	width: 82px;
	height: 82px;
	margin: auto;
	border: 4px solid #087DAE;
  	border-radius: 80px;
	transition: 0.4s;	
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
	box-shadow: 0 6px 38px rgba(0, 0, 0, 0.1);
	background-color: #00a0e3;	
}




/* ----------------------------------------------------------------
	background-image
-----------------------------------------------------------------*/

.bg-image-01 {
	background-image: url("../images/img-28.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
}
.bg-image-02 {
	background-image: url("../images/img-30.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
}
.bg-image-03 {
	background-image: url("../images/img-32.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}



/* ----------------------------------------------------------------
	animation-delay
-----------------------------------------------------------------*/

.animation-delay-05 {
	animation-delay: 0.3s;
}

.animation-delay-10 {
	animation-delay: 0.6s;
}

.animation-delay-15 {
	animation-delay: 0.9s;
}

.animation-delay-20 {
	animation-delay: 1.2s;
}


/* ----------------------------------------------------------------
	cta-foto-blu
-----------------------------------------------------------------*/

.cta-foto-blu {
	background-color: #00a0e3;
}

.cta-foto-blu h2{
	color: #fff!important;
	line-height: 20;
}

/* ----------------------------------------------------------------
	li-foto
-----------------------------------------------------------------*/
.li-foto{
	font-size: 17px;
	color: #748494;
	font-family: "Muli-SemiBold", sans-serif;
	font-weight: 800;
}

.li-foto li {
	margin-left: 40px;	
}

.li-foto li:before {
	margin-left: -30px;	
}
/* ----------------------------------------------------------------
	icon-box-foto-6
-----------------------------------------------------------------*/
.icon-box-foto-6 {
	padding: 15px 25px;
	border-radius: 5px;
	width: 100%;
	display: flex;
	border: 1px solid #E6E8EB;
}

.icon-box-foto-6:hover{
	border: 1px solid #00A0E3;
}

.icon-box-foto-6 h4 {
	margin-left: 15px;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 100;
	font-family: 'Muli-Regular';
	display: inline-block;
	margin-bottom: 0px;
}

.icon-box-foto-6 img {
	margin-left: 25px;
}
.icon-box-foto-6-c img {
	margin-left: -18px;
}

.icon-box-foto-6a {
	margin-top: 17px!important;	
}

.icon-box-foto-6b input{
	margin-top: 12px!important;	
}

.icon-box-foto-6b {
	padding-top: 9px;
	padding-bottom: 9px;
}

.icon-box-foto-6b span {
	font-size: 16px;
	font-weight: 100;
	font-family: 'Muli-Regular';
	color: #1f1f1f;	
	padding-bottom: 0px!important;
	position: absolute;
	right: 0%;
	width: 12%;

}
/* ----------------------------------------------------------------
	icon-box-foto-5
-----------------------------------------------------------------*/


.icon-box-foto-5 {
	background-color: #F7F7F7;
	padding: 20px 15px 30px 15px;
	border-radius: 5px;
	width: 100%;
	min-height: 210px;
}
.icon-box-foto-5-h {
	border: 2px solid #00A0E3;
}

.icon-box-foto-5:hover, .icon-box-foto-5:hover h4{
	background-color: #00A0E3;
	cursor: pointer;
	color: #fff;
}	
.icon-box-foto-5 h4, .icon-box-foto-5-small h4 {
	padding-top: 20px;
	font-size: 16px;
	line-height: 1.2;
	font-family: 'Muli-Regular';
	font-weight: 100;
}

.icon-box-foto-5 h4 {
	padding-top: 20px;
	font-size: 16px;
	line-height: 1.2;
	font-family: 'Muli-Regular';
}




/* ----------------------------------------------------------------
	icon-box-foto-4
-----------------------------------------------------------------*/
.icon-box-foto-4 {
	width: 100%;
	height: 100%;
  	border-radius: 3px;
  	padding: 40px 20px 60px 20px;
  	background-color: #fff;
 	box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.05) 
}

.icon-box-foto-4 h4 {
	font-size: 21px;
}

.icon-box-foto-4 p {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 30px;
}

.icon-box-foto-4 img {
	margin-bottom: 20px;
	height: 80px
}

.icon-box-foto-4 a {
	position: absolute;
	bottom: 40px;
	left: 50%; 
    transform: translate(-50%);

}

/* ----------------------------------------------------------------
	icon-box-foto-3
-----------------------------------------------------------------*/
.icon-box-foto-3 {
	width: 100%;
	height: 100%;
  	border-radius: 3px;
  	padding: 40px 20px 60px 100px; 
}

.icon-box-foto-3:hover {
  	background-color: #fff;
 	box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.05)
}

.icon-box-foto-3 h4 {
	font-size: 21px;
}
.icon-box-foto-3 a {
	position: absolute;
	bottom: 45px;
}

.icon-box-foto-3 p {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 30px;
}

.icon-box-foto-3 img {
	position: absolute;
    top: 45px;
    left: 40px;
    width: 55px;
}

/* ----------------------------------------------------------------
	icon-box-foto-2
-----------------------------------------------------------------*/
.icon-box-foto-2 {
	background-color: #f7f7f7!important;
	width: 100%;
	height: 100%;
  	border-radius: 3px;
  	padding: 170px 20px 50px 20px; 
  	background-color: #fff;
}
.icon-box-foto-2 h4 {
	font-size: 21px;
}

.icon-box-foto-2 p {
	font-size: 16px;
	margin-top: 15px;
}

.icon-box-foto-2 img {
	position: absolute;
    left: 50%; 
    transform: translate(-50%);
    top: 0px;
}

/* ----------------------------------------------------------------
	icon-box-foto-1
-----------------------------------------------------------------*/
.icon-box-foto-1{
	width: 100%;
	height: 100%;
  	border-radius: 3px;
  	box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.05);
  	padding: 20px; 
  	background-color: #fff;

}
.icon-box-foto-1:hover{
	background-color: #00a0e3;
	transition: 0.5s;
	color: #fff;	
}

.icon-box-foto-1:hover h4, .icon-box-foto-1:hover p, .icon-box-foto-1:hover a{
	color: #fff;	
}

.icon-box-foto-1 h4{
	font-size: 18px;
	font-family: "Muli-Bold";
}
.icon-box-foto-1 p{
	font-size: 14px;
	
}

.page-title-foto-classic{
	background-color: #F7F7F7;
	padding-top: 30px;
	padding-bottom: 20px;
}

.page-title-foto-classic h3{
	font-size: 25px;
	font-family: 'Muli-Bold';
	color: #0B1D3B;
	margin-bottom: -5px;
}

.page-title-foto-classic p{
	font-size: 16px;
	font-family: 'Muli-Regular';
	color: #00A0E3;
}



.page-title-foto {
	padding-top: 90px;
	padding-bottom: 90px;
	background-position: top;
	
}
.page-title-foto h1 {
	font-size: 40px;
	font-family: 'Muli-ExtraBold';
}

.page-title-foto h3 {
	font-size: 25px;
	font-family: 'Muli-ExtraBold';
	color: #0B1D3B;
}
.page-title-foto p {
	margin-bottom: 40px;
}
.img-center-foto{
	position: absolute;
	top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.content-center-foto{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.content-center-foto button{
	width: min-content;
}


.section-02-foto{
	padding-top: 100px;
}
.section-03-foto{
	padding-top: 0px;
}


/* ----------------------------------------------------------------
	Empty sapce
-----------------------------------------------------------------*/
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-top-60 {
	margin-top: 60px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.padding-top-40 {
	padding-top: 40px;
}
.padding-top-80 {
	padding-top: 80px;
}
.image-full {
	overflow: visible;
	position: absolute;
	left: -50px;
}
.padding-bottom-40 {
	padding-bottom: 40px;
}

.form-group-foto label{

	color: #00a0e3!important;
	font-weight: 500!important;
	padding-left: 10px;
	font-size: 12px!important;
	
}

.form-group-foto input, .form-group-foto textarea{
	border-bottom: 1px solid #e3e3e3;
	border-radius: 0px!important;
	background-color:	#f7f7f7;
	font-size: 16px!important;
	font-weight: 600!important;
	padding-bottom: 15px!important;
	margin-bottom: 20px;
}
.form-group-foto textarea{
	height: 160px;
}

.form-group-foto input:focus, .form-group-foto textarea:focus{
	background-color: #f7f7f7!important;
	border: 0px!important;
	box-shadow: none!important;
	border-bottom: 1px solid #0a74ea!important;
	color: #1d2531!important;
}


.col-foto span {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.7;

}
.col-foto p {
	margin-top: 5px;
	color: #748494;
	font: 16px;
	font-family: "Muli-Regular", sans-serif;

}
.col-foto {
	padding-top: 10px;
}

.col-foto h3 {
	margin-bottom: 0px;
}
/* ----------------------------------------------------------------
	End Empty sapce
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Bialy cta
-----------------------------------------------------------------*/
.btn-foto-white{
	background-color: #fff!important;
  	border-color: #028bc4;
  	color: #00a0e3!important;
  	min-width: 200px;

}


.p-blue{
	color: #fff;
	display: inline-block;
	margin: 10px 20px;
}
.p-white{
	color: #00a0e3;
	float: left;
}

.g-mask-bottom {
	width: 100%;
	position: absolute;
	bottom: 0px;

}

.btn-top-fofo{
	padding: 15px 30px 15px 30px!important;
}


.menu-top-foto {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0%;
  padding-top: 10px;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  font-size: 18px;
  color: #0b1d3b;
  font-family: "Muli-SemiBold", sans-serif;
  line-height: 1;
}

.menu-top-foto span {
  font-size: 12px!important;
  color: #748494;
  font-family: "Muli-SemiBold", sans-serif;
}

.logo-foto{
	padding-top: 18px;
	height: 80px;
}

i.icon-menu-foto {
	 font-size: 30px!important;
	 color: #00a0e3;
	 padding-right: 20px!important;;
	 display: block;
	 height: 50px;
	 float: left;
	 padding-top: 18px!important;
}

.language-foto {
	position: absolute;
	right: 0px;
	text-align: right;
	padding-right: 35px;
	font-size: 15px;
	font-family: "Muli-Bold", sans-serif;
	color:	#2d84ec;
	padding-top: 0px!important;	
}

.language-icon-foto {
	font-size: 18px!important;
  	color: #2d84ec;
  	padding-left: 20px!important;;
    position: absolute;
	right: 0px;
	top: 10px
}

.bg-1-1-foto {
	height: 580px!important;
  	font-size: 18px;
  	font-family: "Muli-SemiBold", sans-serif;
  	align-content: center!important;
  	background-position: top!important; /* Center the image */
 	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: auto; /* Resize the background image to cover the entire container */
	background-repeat: no-repeat;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	background-color: #95cbe5!important;
}

.bg-1-1-foto h4 {
	font-size: 21px;
  	font-family: "Muli-Regular", sans-serif;
  	color: #0b1d3b;
  	margin-bottom: 10px;
  	margin-top: 50px!important;
}

.bg-1-1-foto h1 {
	font-size: 50px;
  	font-family: "Muli-ExtraBold", sans-serif;
  	color: #0b1d3b;
  	line-height: 1;
}

.bg-1-1-foto p {
	font-size: 18px;
  	font-family: "Muli-SemiBold", sans-serif;
  	color: #425261;
  	line-height: 1.5;
  	margin-bottom: 50px;
}

.btn-red-foto{
	padding: 20px 30px 20px 30px!important;
	background-color: #e42622!important;
	border: 0px!important;
}

.btn-red-foto:hover {
	background-color: #ba1512!important;
}

.section-01-foto{
	padding-top: 0px;
	padding-bottom: 95px;
}

/* ----------------------------------------------------------------
	Bloczek Oferta
-----------------------------------------------------------------*/
.bloczek-kontaktu{
	background-color: #f7f7f7;
	max-width: 100%!important;
	padding: 45px 35px 80px 35px;
}

.bloczek-kontaktu-maly{
	margin-bottom: 30px;
	background-color: #f7f7f7;
	max-width: 100%!important;
	padding: 40px 30px 40px 30px;
}

.kontakt-icon {
	display: flex;
	
  	justify-content: center;
}

.kontakt-icon-bg {
	background-color: #fff;
	width: 75px;
	height: 75px;
	border-radius: 100px;
	box-shadow: 0px 2px 6px #31396933;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.oferta-foto{
	background-color: #f7f7f7;
	max-width: 100%!important;
	padding: 45px 35px;
	height: 412px;
	
}
.oferta-foto:hover{
	background-color: #f1d04c;
	cursor: pointer;
}

.oferta-foto:hover a{
	color: #000;
}

.oferta-foto:hover p{
	color: white;
}

.oferta-foto img{
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	right: 40px;
}

.oferta-foto-small img{
  	right: 20px;
}

.oferta-foto-small {
	max-width: 100%!important;
	padding: 30px 30px 10px 30px;
	height: 200px;
	margin-bottom: 10px;
	position: relative;
}

.oferta-foto-small h4{
	font-size: 20px!important;
	line-height: 1.2!important;
	font-weight: 500;
}

.oferta-foto-small a{
	 position: absolute;
	 bottom: 28px;
	 margin-bottom: 0px!important;
}

.oferta-foto h4 {
	font-size: 31px;
	font-family: "Muli-Bold", sans-serif;
	max-width: 50%;
	line-height: 1.28;
	letter-spacing: -0.05px!important;
	font-weight: 500;
}

.oferta-foto p {
	font-size: 16px;
	font-family: "Muli-Regular", sans-serif;
	max-width: 50%;
	line-height: 1.28;
	letter-spacing: -0.05px!important;
	margin-top: 20px;
	margin-bottom: 50px;
}

.oferta-foto a {
	font-size: 16px;
	font-family: "Muli-Bold", sans-serif;
	max-width: 70%;
	color: #00a0e3;
	line-height: 1.28;
	letter-spacing: -0.05px!important;
	margin-top: 20px;
	margin-bottom: 50px;
}

.row-foto h2 {
	font-size: 31px;
	color: #0b1d3b;
	line-height: 1.28;
}

.row-foto h5 {
	font-size: 18px;
	color: #00a0e3;
	font-weight: 300;
	font-family: "Muli-Regular", sans-serif;
	line-height: 1.28;
	padding-bottom: 20px;
}

.blue-foto{
	background-color: #00a0e3;
	padding-top: 55px;
	padding-bottom: 55px;
}

.icon-box-foto h3{
	font-size: 23px;
	font-family: "Muli-Semi-Bold", sans-serif;
	color: white;
}

.icon-box-icon-foto{
	height: 100px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	margin-bottom: 15px;
}

.icon-box-icon-foto img{
	position: absolute;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

